
.article {
    width: auto;
    padding-left: 70px;
    margin: 10px;
    position: relative;
    margin-bottom: 40px;
}

.rank {
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 20px;
}

.vote {
    display: flex;
    position: absolute;
    width: 30px;
    height: 15px;
    left: 30px;
    top: 29px;
    align-self: center;
}

img {
    position: absolute;
    left: 35px;
    top: 15px;
}

.downvote {
    margin-top: 30px;
}

a {
    display: block;
}

.info {
    display: block;
    margin-top: 5px;
}

button {
    margin: 16px;
}

.post-form-container {
    display: flex;
	flex-direction: column;
	max-width: 35%;
    background-color: #cee3f8;
}

.label {
    box-sizing: border-box;
    width: 100%;
    background-color: #cee3f8;
    margin: 5px 0px;
    padding: 7px;
    border-radius: 3px;
    font-size: 20px;
}

.input {
    width: 93%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}

.send-post {
    width: 25%;
}

.check {
    margin-left: 15px;
}

.check-label {
    position: absolute;
    margin-top: 223px;
    margin-left: 40px;
}