a {
    list-style: circle inside;
    display: list-item;
}

input {
    width: 100px;
    height: 30px;

}

ul {
    list-style-type: none;
}

li {
    margin: 5px;
}

li .current {
    color: blue;
    border-color: red;
}
