main {
    border: solid red 1px;
}

a {
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-size: 1.2em;
}

input {
    width: 100px;
    height: 30px;
}

.available-tricks input {
    width: auto;
}

ul {
    list-style-type: none;
    display: flex;
}

.menu li {
    border: solid green 1px;
    border-radius: 10px;
    padding: 10px;
    background: lightgrey;
}

.menu li:hover {
    background: grey;
}

li {
    margin: 5px;
}

li .current {
    color: blue;
    border-color: red;
}
