<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simba's account</title>
    <link rel="stylesheet" th:href="@{/basic.css}"/>
</head>
<body>
<ul th:each="account : ${accounts}">
<li th:inline="text">
[[${accountStat.count}]]. [[${account.name}]] [[${account.balance}]] [[${account.animalType}]]
</li>
</ul>
<form action="#" th:action="@{/exercise11}" th:object="${newAccount}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Balance: <input type="text" th:field="*{balance}" /></p>
    <p>Animal Type: <input type="text" th:field="*{animalType}" /></p>
    <p>King: <input type="text" th:field="*{king}" /></p>
    <p>Good Guy: <input type="text" th:field="*{goodGuy}" /></p>
    <p><input type="submit" value="Add new bank account" /></p>
</form>
</body>
</html>