<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Simba's account</title>
    <link rel="stylesheet" th:href="@{/basic.css}"/>
</head>
  <body>
    <ul th:each="account : ${accounts}" th:switch="${account.king}">
      <li th:case="true" th:inline="text">
          [[${accountStat.count}]]. <span>[[${account.name}]]</span> [[${account.balance}]] [[${account.animalType}]]
      </li>
      <li th:case="false" th:text="|${accountStat.count}. ${account.name} ${account.balance} ${account.animalType}|"/>
    </ul>
  </body>
</html>