<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Simba's account</title>
    <link rel="stylesheet" th:href="@{/basic.css}"/>
</head>
  <body>
    <ul th:each="account : ${accounts}" th:switch="${account.goodGuy}">
      <li th:case="false" th:inline="text">
         <span class="bad-guy">
             this is the ternary one [[${accountStat.count}]]. [[${account.name}]] [[${account.balance}]] [[${account.animalType}]] is a bad guy
         </span>
      </li>
      <li th:case="true" th:text="|${accountStat.count}. ${account.name} ${account.balance} ${account.animalType} is a good guy|"/>
    </ul>
  </body>
</html>