img {
  margin: 0;
  padding: 0;
  display: block;
}

section {
  display: flex;
}

div {
  border: 1px solid black;
  width: 72px;
  height: 72px;
}

.floor {
  background-color: green;
}

.wall {
  background-color: red;
}

.hero {
  position: absolute;
}
