
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Official Pikachu fan page!</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
<h1>Call your Pokemon, or create a new one!</h1>
<p><a style="text-decoration: none" href="/about.html"> - About - </a></p>
<div class="daylight">
    <img class="picture3" src="bayleef.png" />
    <img class="picture3" src="teddiursa.png" />
    <img class="picture3" src="charmander.png" />
    <img class="picture3" src="machop.png" />
    <img class="picture3" src="pikachu.png" />
    <img class="picture3" src="growlithe.png" />
    <img class="picture3" src="snorlax.png" />
    <img class="picture3" src="furret.png" />
</div>
<h3>Login to your Pokemon</h3>
<form action="/loginform">Choose your pokemon: <select title="name" name="name">

    <option value="Snorlax">Snorlax</option>


    <option value="Cukor">Cukor</option>


    <option value="Nori">Nori</option>


    <option value="kond">kond</option>


    <option value="alma">alma</option>


    <option value="Caller">Caller</option>


    <option value="Furret">Furret</option>


    <option value="Fürkész">Fürkész</option>


    <option value="Fürkész">Fürkész</option>


    <option value="alma">alma</option>


    <option value="kutya">kutya</option>


    <option value="Alfonz">Alfonz</option>


    <option value="pik">pik</option>


    <option value="pika">pika</option>


    <option value="admin">admin</option>


    <option value="pika">pika</option>


    <option value="Charmie">Charmie</option>


    <option value="picsahuszar">picsahuszar</option>

</select> Shout his calling word: <input title="callerid" type="password" name="callerid" placeholder="Call your Pokemon" autocomplete="off" required="required" /> <input type="submit" value="Come to me!" />
</form>

<h3>Don`t have a Pokemon yet? Get one!</h3>
<form action="/signupform">What type of pokemon do you want? <select title="type" name="type">

    <option value="pikachu">pikachu</option>


    <option value="charmander">charmander</option>


    <option value="growlithe">growlithe</option>


    <option value="machop">machop</option>


    <option value="snorlax">snorlax</option>


    <option value="bayleef">bayleef</option>


    <option value="furret">furret</option>


    <option value="teddiursa">teddiursa</option>

</select><br />
    What should be the name of your pokemon? <input title="nameofpokemon" type="text" name="nameofpokemon" placeholder="Give a name" autocomplete="off" required="required" /><br />
    Choose a calling word: <input title="newcallerid" type="password" name="newcallerid" placeholder="you need to remember this" autocomplete="off" required="required" /><br />
    <input type="submit" value="Get my new Pokemon!" /></form>
<br />






<br />
</body>
</html>