<!doctype html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
    <link rel="stylesheet" href="/css/basic.css"/>
</head>
<body>
<main layout:fragment="main">
    <img src="/img/greenfox.png" alt="fox"/>
    <p th:text="'This is ' + (${fox.she} ? 'Mrs. ' : 'Mr. ') + ${fox.name} + '. Currently living on '
+ ${fox.food.displayName} + ' and ' + ${fox.drink.displayName} + ' . ' + (${fox.she} ? 'She ' : 'He ') + 'knows ' + ${fox.knownTricks.size()} + ' tricks.'"/>
    <h1>Known tricks</h1>
    <ul>
        <li th:if="${fox.knownTricks.isEmpty()}">
            Your fox does not know anything. Go learn something!
        </li>
        <li th:each="trick : ${fox.knownTricks}" th:text="${trick.description} + ' ' + ${trick.difficulty}"/>
    </ul>
</main>
</body>
</html>