<!doctype html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
    <link rel="stylesheet" href="/css/basic.css"/>
</head>
<body>
<main layout:fragment="main">
    <h1>Available Tricks</h1>
    <ul class="available-tricks">
        <li th:if="${tricks.isEmpty()}">
            There are no available tricks. Add some new trick!
        </li>
        <li th:each="trick : ${tricks}" th:inline="text">
            <form th:action="@{/learnTrick?description=} + ${trick.description} +
            '&amp;difficulty=' + ${trick.difficulty}" method="post">
                <input type="submit" th:value="${trick.description} + ' (' + ${trick.difficulty} + ')'"/>
            </form>
        </li>
    </ul>
        <form th:action="@{/addTrick}" method="post">
            <input type="text" placeholder="description" name="description"/>
            <input type="text" placeholder="difficulty" name="difficulty"/>
            <input type="submit"/>
        </form>
</main>
</body>
</html>