<!doctype html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" rel="stylesheet"/>
        <link rel="stylesheet" href="reddit-like.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    </head>
    <body>
        <div class='post-form-container'></div>
        <button class='new-post'>add new post</button>
        <div class='article-container'></div>
        <script src='reddit-postcreator.js'></script>
        <script src='reddit-like.js'></script>
    </body>
</html>
