<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Notes</title>
</head>
<body>
<h2>Notes</h2>
<table>
    <tr>
        <td>Id</td>
        <td>Action</td>
        <td>Done</td>
        <td>Urgent</td>
    </tr>
    <tr th:each="todo : ${todos}" th:inline="text">
        <td>[[${todo.id}]]</td>
        <td>[[${todo.description}]]</td>
        <td>[[${todo.isDone()}]]</td>
        <td>[[${todo.isUrgent()}]]</td>
        <td></td>
    </tr>
</table>
<form th:action="@{/addTodo}" method="post">
    <input type="text" name="description"/>
    <input type="submit" value="add new todo"/>
</form>
</body>
</html>